@font-face {
  font-family: main;
  src: url("./regular1.otf");
}
html {
    height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: main;
  height: 100%;

}
.welcome {
  background-color: #525556;
}
#game {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: white;
}
.welcomeScreen {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  font-size: 4em;
  color: white;
}
.welcomeScreen span {
  color: #1A1F38;
}
#name {
  width: 25vw;
  height: 6vh;
  font-family: main;
  border-radius: 5px;
  background-color: white;
  color: #969696;
  border: none;
  padding: 2px 4px;
  font-size: 20px;
  outline: none;
}
.joinBtn {
  background-color:#004C99;
  height: 7vh;
  width: 16vh;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  font-family: main;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  outline: none;
}

#arrow {
  display: none;
  color: white;
}

.joinBtn:hover #arrow{
  display: inline;
}
#killBar {
  position: fixed;
  background-color: black;
  width: 25%;
  height: 10%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: 0;
}
.gunTypeImg {
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  top: 0;
}
.gunTypeImg img {
  margin-top: 0;
  height: 100%;
}
.gunStats {
  grid-row-start: 2;
}
.name {
  grid-row-start: 1;
  grid-row-end: 2;
}
.killText {
  position: relative;
  width: 100%;
  height: 60px;
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 50% 50%;
}
.timer {
  position: fixed;
  left: 80%;
  top: 5%;
}
.chooseLoadout {
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20%;
  height: 60%;
}
.primarys {
  border-bottom: 1px solid #4FA4EA;
}
.weapon {
  color: white;
  text-align: center;
  padding-bottom: 5%;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.weapon:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.primarys .weaponImg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  display: block;
}

.secondaries .weaponImg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 30%;
  display: block;
}
.tag {
  text-align: center;
  color: white;
}
.hp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
  background-color: rgba(148, 148, 148, 0.9);
  height: 6%;
  width: 60%;
  border-radius: 5px;
  margin: 0;
}
#health {
  position: relative;
  width: 99%;
  height: 85%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 10px;
}
